<{$bootstrap}>
<{$jquery}>
<{$toolbar}>
<link rel="stylesheet" type="text/css" media="all" href="module.css" />

<{if $now_op=="list_all"}>

  <{if $isAdmin or $edit_power}>
    <a href="index.php?op=tad_faq_content_form" class="btn btn-primary" style="float:right"><{$smarty.const._TAD_ADD}></a>
  <{/if}>
  <h2><{$module_title}></h2>
  <{foreach from=$faq item=faq}>
    <{if $faq.counter}>
      <div class="faq_title">
        <span class="counter"><{$faq.num}></span>
        <a href="index.php?fcsn=<{$faq.fcsn}>" class="btn Q" style="text-align:left"><img src="images/<{$faq.img}>" align="absmiddle" hspace=6 alt="<{$faq.title}>"><{$faq.title}></a>
      </div>
    <{/if}>
  <{/foreach}>

<{elseif $now_op=="list_faq"}>
  <script type='text/javascript'>
    function delete_tad_faq_content_func(fqsn){
      var sure = window.confirm("<{$smarty.const._TAD_DEL_CONFIRM}>");
      if (!sure)  return;
      location.href="index.php?op=delete_tad_faq_content&fcsn=<{$fcsn}>&fqsn=" + fqsn;
    }

    $(document).ready(function(){
      <{if $isAdmin}>
      $('#sort').sortable({ opacity: 0.6, cursor: 'move', update: function() {
          var order = $(this).sortable('serialize');
          $.post('save_sort.php', order, function(theResponse){
              $('#save_msg').html(theResponse);
          });
      }
      });
      <{/if}>

      $('.faq_content').hide();

      $('.Q').toggle(function(){
        var fqsn=$(this).attr('id');
        $.post('ajax.php', { sn: fqsn}, function(data) {
          $('#counter'+fqsn).html(data);
        });
        $('.faq_content').css("border","none");
        $(this).parent().children('.faq_content').slideDown();
        $(this).parent().children('.faq_content').slideDown().css("border","3px solid #B5D9EE");
      },function(){
        $(this).parent().children('.faq_content').slideUp();
      });
    });
  </script>

  <{if $isAdmin or $faq_edit_power}>
    <a href="index.php?op=tad_faq_content_form&fcsn=<{$fcsn}>" class="btn btn-primary" style="float:right"><{$smarty.const._TAD_ADD}></a>
  <{/if}>
  <h2><{$cate_title}></h2>
  <{assign var="n" value=1}>
  <div id='sort'>
    <{foreach from=$faq item=faq}>
      <{if $faq.enable=='1' or $isAdmin or $edit_power}>
        <div class='faq_title' id='tr_<{$faq.fqsn}>'>
          <div class='counter'>
            <{if $isAdmin or $edit_power}>
              <{if $faq.enable!='1'}><{$smarty.const._MD_TADFAQ_FAQ_UNABLE}><{/if}>
            <{/if}>
            <span id='counter<{$faq.fqsn}>'><{$faq.counter}></span>
          </div>
          <a name="#<{$faq.fqsn}>" id="<{$faq.fqsn}>" class="Q btn <{if $faq.enable!='1'}> unable<{/if}>" style="text-align:left">
          <{if $faq.enable=='1'}>
          <{$n}>.
            <{assign var="n" value=$n+1}>
          <{else}>
            ?.
          <{/if}>
          <{$faq.title}></a>

          <div id='A<{$faq.fqsn}>' class='faq_content'>
            <{if $isAdmin or $edit_power}>
              <div style='text-align:right;'>
                <a href="index.php?op=update_status&fcsn=<{$fcsn}>&fqsn=<{$faq.fqsn}>&enable=<{$faq.update_enable}>" class="btn btn-mini btn-info"><{$faq.enable_txt}></a>

                <a href="javascript:delete_tad_faq_content_func(<{$faq.fqsn}>);" class="btn btn-mini btn-danger"><{$smarty.const._TAD_DEL}></a>

                <a href='index.php?op=tad_faq_content_form&fqsn=<{$faq.fqsn}>' class="btn btn-mini btn-warning"><{$smarty.const._TAD_EDIT}></a>
              </div>
            <{/if}>
            <{$faq.content}>
          </div>
        </div>
      <{/if}>
    <{/foreach}>
  </div>
  <div id='save_msg'></div>
<{elseif $now_op=="tad_faq_content_form"}>
  <h2><{$smarty.const._MD_TADFAQ_ADD_CONTENT}></h2>

    <form action='index.php' method='post' id='myForm' enctype='multipart/form-data'>
      <div class="row-fluid">
        <label class="span1"><{$smarty.const._MD_TADFAQ_CATE_MENU}></label>

        <{if $faq_cate_opt}>
          <div class="span3">
            <select name='fcsn' size=1 class="span12">
              <{$faq_cate_opt}>
            </select>
          </div>

          <{if $isAdmin}>
            <div class="span8">
              <input type='text' name='new_cate' class="span12" placeholder="<{$smarty.const._MD_TADFAQ_NEW_CATE}>">
            </div>
          <{/if}>
        <{else}>
          <{if $isAdmin}>
            <div class="span11">
              <input type='text' name='new_cate' class="span12" placeholder="<{$smarty.const._MD_TADFAQ_NEW_CATE}>">
            </div>
          <{/if}>
        <{/if}>

      </div>

      <div class="row-fluid">
        <label class="span1"><{$smarty.const._MD_TADFAQ_FAQ_TITLE}></label>
        <div class="span7">
          <input type='text' name='title' value='<{$title}>' class="span12">
        </div>
        <div class="span4">
          <label class="radio inline">
            <input type="radio" name="enable" id="enable1" value="1" <{if $enable=='1'}>checked<{/if}>><{$smarty.const._MD_TADFAQ_FAQ_ENABLE}>
          </label>
          <label class="radio inline">
            <input type="radio" name="enable" id="enable0" value="0" <{if $enable=='0'}>checked<{/if}>><{$smarty.const._MD_TADFAQ_FAQ_UNABLE}>
          </label>
        </div>
      </div>


      <div class="row-fluid">
        <label class="span1"><{$smarty.const._MD_TADFAQ_CONTENT}></label>
        <div class="span11">
          <{$editor}>
        </div>
      </div>


      <div class="row-fluid text-center">
        <input type="hidden" name="fqsn" value="<{$fqsn}>">
        <input type="hidden" name="op" value="<{$op}>">
        <button type="submit" class="btn btn-primary"><{$smarty.const._TAD_SAVE}></button>
      </div>

    </form>

<{/if}>
